<div *ngIf="driversResults.length !== 0">
<h2 class="mx-2 pt-2 pl-4 text-white">Championship <mat-icon class="text-warning">emoji_events</mat-icon> </h2>
<h4 class="text-white">Season: {{season}} - Round: {{round}}</h4>
<div class="table-responsive">
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Driver</th>
            <th scope="col">Constructors</th>
            <th scope="col">Points</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let res of driversResults; let i=index">
            <th scope="row">{{res.position}}</th>
            <td>{{res.Driver.givenName }} {{res.Driver.familyName }} </td>
            <td>
                <ng-container *ngFor="let cons of res.Constructors">
                    {{ cons.name + '  ' }}
                </ng-container>
            </td>
            <td>{{ res.points}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- <pre>{{ driversResults | json }}</pre> -->
</div>

